FrontEnd/Front end/Connected Services/ServiceReference/Service1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WCF_Service_Server_" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WCF_Service_Server_" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="UserClass">
    <xs:sequence>
      <xs:element minOccurs="0" name="Email" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Gender" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PhoneNo" type="xs:int" />
      <xs:element minOccurs="0" name="Surname" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UserType" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="UserClass" nillable="true" type="tns:UserClass" />
  <xs:complexType name="CompatibilityClass">
    <xs:sequence>
      <xs:element minOccurs="0" name="BaseId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="BuildCompatibility" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CpuType" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="GraphicsType" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RamType" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="StorageType" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CompatibilityClass" nillable="true" type="tns:CompatibilityClass" />
  <xs:complexType name="User">
    <xs:sequence>
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="cellNo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="email" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="gender" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="surname" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="userType" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="User" nillable="true" type="tns:User" />
  <xs:complexType name="ArrayOfComponent">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Component" nillable="true" type="tns:Component" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfComponent" nillable="true" type="tns:ArrayOfComponent" />
  <xs:complexType name="Component">
    <xs:sequence>
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="availability" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="build_id" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="category" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="compatibility" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="image" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="intPriceFormat" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="price" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Component" nillable="true" type="tns:Component" />
  <xs:complexType name="ArrayOfUser">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="User" nillable="true" type="tns:User" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfUser" nillable="true" type="tns:ArrayOfUser" />
  <xs:complexType name="ArrayOfBuildClass">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="BuildClass" nillable="true" type="tns:BuildClass" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfBuildClass" nillable="true" type="tns:ArrayOfBuildClass" />
  <xs:complexType name="BuildClass">
    <xs:sequence>
      <xs:element minOccurs="0" name="BaseCaseComponent" nillable="true" type="tns:Component" />
      <xs:element minOccurs="0" name="Build_id" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Category" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CompatibilityStatus" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CpuComponent" nillable="true" type="tns:Component" />
      <xs:element minOccurs="0" name="GraphicsComponent" nillable="true" type="tns:Component" />
      <xs:element minOccurs="0" name="RamComponent" nillable="true" type="tns:Component" />
      <xs:element minOccurs="0" name="StorageComponent" nillable="true" type="tns:Component" />
      <xs:element minOccurs="0" name="TotalPrice" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="User_build_id" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BuildClass" nillable="true" type="tns:BuildClass" />
  <xs:complexType name="DeliveryAddress">
    <xs:sequence>
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="city" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="country" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="province" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="streetUnit" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="suburb" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="user_id" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="zipCode" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DeliveryAddress" nillable="true" type="tns:DeliveryAddress" />
  <xs:complexType name="OrderClass">
    <xs:sequence>
      <xs:element minOccurs="0" name="CardNumber" type="xs:int" />
      <xs:element minOccurs="0" name="DeliveryAddress" nillable="true" type="tns:DeliveryAddress" />
      <xs:element minOccurs="0" name="ListOfCartObj" nillable="true" type="tns:ArrayOfCartItem" />
      <xs:element minOccurs="0" name="ListOfComponents" nillable="true" type="tns:ArrayOfComponent" />
      <xs:element minOccurs="0" name="OrderDate" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="OrderId" type="xs:int" />
      <xs:element minOccurs="0" name="OrderStatus" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PaymentMade" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TotalItems" type="xs:int" />
      <xs:element minOccurs="0" name="TotalPrice" type="xs:int" />
      <xs:element minOccurs="0" name="User" nillable="true" type="tns:User" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="OrderClass" nillable="true" type="tns:OrderClass" />
  <xs:complexType name="ArrayOfCartItem">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="CartItem" nillable="true" type="tns:CartItem" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCartItem" nillable="true" type="tns:ArrayOfCartItem" />
  <xs:complexType name="CartItem">
    <xs:sequence>
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="cart_id" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="component_id" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="quantity" nillable="true" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CartItem" nillable="true" type="tns:CartItem" />
  <xs:complexType name="Order">
    <xs:sequence>
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="cartId" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="dateCreated" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="orderStatus" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="paymentId" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="paymentMade" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="userAddressId" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="userId" nillable="true" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Order" nillable="true" type="tns:Order" />
  <xs:complexType name="Compatibility">
    <xs:sequence>
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="cpuType" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="desktopCase_id" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="graphicsType" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ramType" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="storageType" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Compatibility" nillable="true" type="tns:Compatibility" />
  <xs:complexType name="ArrayOfOrder">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Order" nillable="true" type="tns:Order" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfOrder" nillable="true" type="tns:ArrayOfOrder" />
</xs:schema>