FrontEnd/Front end/Connected Services/ServiceReference/Service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="https://techmateappservice.azurewebsites.net/Service.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WCF_Service_Server_" />
  <xs:import schemaLocation="https://techmateappservice.azurewebsites.net/Service.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:element name="LoginSOAP">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="email" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LoginSOAPResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/WCF_Service_Server_" minOccurs="0" name="LoginSOAPResult" nillable="true" type="q1:UserClass" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="HashPasswordSOAP">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="HashPasswordSOAPResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="HashPasswordSOAPResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RegisterSOAP">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="surname" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="cellNo" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="gender" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="email" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="userType" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RegisterSOAPResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="RegisterSOAPResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EditUserSOAP">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="surname" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="cellNo" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="gender" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="email" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="activeId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EditUserSOAPResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="EditUserSOAPResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EditComponentSOAP">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="compId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="priceToDisp" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="availability" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="description" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="image" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="category" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="compatibilityStatus" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EditComponentSOAPResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="EditComponentSOAPResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateStockSOAP">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="componentId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="updateType" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="quantity" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateStockSOAPResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdateStockSOAPResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FulfilOrderSOAP">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="orderId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FulfilOrderSOAPResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="FulfilOrderSOAPResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RejectOrderSOAP">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="orderId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="reason" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RejectOrderSOAPResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="RejectOrderSOAPResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="VerifyBuildCompatibilitySOAP">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="desktopBaseId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="ram" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="cpu" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="storage" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="graphics" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="VerifyBuildCompatibilitySOAPResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/WCF_Service_Server_" minOccurs="0" name="VerifyBuildCompatibilitySOAPResult" nillable="true" type="q2:CompatibilityClass" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteUserSOAP">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="activeId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteUserSOAPResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeleteUserSOAPResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteComponentSOAP">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="compId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteComponentSOAPResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeleteComponentSOAPResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="StoreUserAddressSOAP">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="country" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="province" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="city" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="streetUnit" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="surname" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="cellPhone" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="email" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="StoreUserAddressSOAPResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="StoreUserAddressSOAPResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FetchActiveUserSOAP">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FetchActiveUserSOAPResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/WCF_Service_Server_" minOccurs="0" name="FetchActiveUserSOAPResult" nillable="true" type="q3:User" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FetchSingleUserBuildSOAP">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="user_id" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FetchSingleUserBuildSOAPResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/WCF_Service_Server_" minOccurs="0" name="FetchSingleUserBuildSOAPResult" nillable="true" type="q4:ArrayOfComponent" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FetchAllUsersSOAP">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="FetchAllUsersSOAPResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/WCF_Service_Server_" minOccurs="0" name="FetchAllUsersSOAPResult" nillable="true" type="q5:ArrayOfUser" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FetchRandomComponentsSOAP">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="size" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FetchRandomComponentsSOAPResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/WCF_Service_Server_" minOccurs="0" name="FetchRandomComponentsSOAPResult" nillable="true" type="q6:ArrayOfComponent" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FetchComponentsByCategorySOAP">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="category" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FetchComponentsByCategorySOAPResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/WCF_Service_Server_" minOccurs="0" name="FetchComponentsByCategorySOAPResult" nillable="true" type="q7:ArrayOfComponent" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FetchTopComponentsSOAP">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="category" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="size" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FetchTopComponentsSOAPResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/WCF_Service_Server_" minOccurs="0" name="FetchTopComponentsSOAPResult" nillable="true" type="q8:ArrayOfComponent" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FetchBuildSOAP">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="build_id" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FetchBuildSOAPResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/WCF_Service_Server_" minOccurs="0" name="FetchBuildSOAPResult" nillable="true" type="q9:ArrayOfComponent" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FetchComponentSOAP">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="component_id" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FetchComponentSOAPResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/WCF_Service_Server_" minOccurs="0" name="FetchComponentSOAPResult" nillable="true" type="q10:Component" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FetchSingleComponentByImageSOAP">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="image" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FetchSingleComponentByImageSOAPResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/WCF_Service_Server_" minOccurs="0" name="FetchSingleComponentByImageSOAPResult" nillable="true" type="q11:ArrayOfComponent" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateComponentSOAP">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="priceToDisp" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="availability" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="description" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="image" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="category" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="compatibilityStatus" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateComponentSOAPResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CreateComponentSOAPResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateBuildSOAP">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="user_id" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="desktop_id" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="cpu_id" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="storage_id" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="graphics_id" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="ram_id" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="compatibilityStatus" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="totalPrice" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateBuildSOAPResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CreateBuildSOAPResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FetchAllUserBuildsSOAP">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="user_id" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FetchAllUserBuildsSOAPResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/WCF_Service_Server_" minOccurs="0" name="FetchAllUserBuildsSOAPResult" nillable="true" type="q12:ArrayOfBuildClass" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FetchUserAddressSOAP">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FetchUserAddressSOAPResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/WCF_Service_Server_" minOccurs="0" name="FetchUserAddressSOAPResult" nillable="true" type="q13:DeliveryAddress" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FetchOrderSOAP">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="orderId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="cardNumber" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FetchOrderSOAPResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/WCF_Service_Server_" minOccurs="0" name="FetchOrderSOAPResult" nillable="true" type="q14:OrderClass" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FetchOrderByIdSOAP">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="orderId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FetchOrderByIdSOAPResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/WCF_Service_Server_" minOccurs="0" name="FetchOrderByIdSOAPResult" nillable="true" type="q15:Order" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FetchCaseCompatibilitySOAP">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="componentId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FetchCaseCompatibilitySOAPResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q16="http://schemas.datacontract.org/2004/07/WCF_Service_Server_" minOccurs="0" name="FetchCaseCompatibilitySOAPResult" nillable="true" type="q16:Compatibility" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FetchAllUserOrdersSOAP">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FetchAllUserOrdersSOAPResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q17="http://schemas.datacontract.org/2004/07/WCF_Service_Server_" minOccurs="0" name="FetchAllUserOrdersSOAPResult" nillable="true" type="q17:ArrayOfOrder" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FetchAllOrdersSOAP">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="filter" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FetchAllOrdersSOAPResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q18="http://schemas.datacontract.org/2004/07/WCF_Service_Server_" minOccurs="0" name="FetchAllOrdersSOAPResult" nillable="true" type="q18:ArrayOfOrder" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CheckoutOrderSOAP">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="orderId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="cardId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="paymentId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="userAddressId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="totalPrice" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="totalItems" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="paymentMade" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="orderStatus" nillable="true" type="xs:string" />
        <xs:element xmlns:q19="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="listOfCartItemId" nillable="true" type="q19:ArrayOfint" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CheckoutOrderSOAPResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CheckoutOrderSOAPResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveCartSOAP">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="buildId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="totalPrice" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="discountSaved" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveCartSOAPResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SaveCartSOAPResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveCartItemsSOAP">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="componentId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="cartId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="quantity" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveCartItemsSOAPResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SaveCartItemsSOAPResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveOrderSOAP">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="cartId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="userAddressId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="userId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveOrderSOAPResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SaveOrderSOAPResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Login">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="email" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LoginResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q20="http://schemas.datacontract.org/2004/07/WCF_Service_Server_" minOccurs="0" name="LoginResult" nillable="true" type="q20:UserClass" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Register">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="surname" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="cellNo" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="gender" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="email" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="userType" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RegisterResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="RegisterResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EditUser">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="surname" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="cellNo" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="gender" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="email" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="activeId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EditUserResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="EditUserResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EditComponent">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="compId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="priceToDisp" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="availability" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="description" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="image" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="category" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="compatibilityStatus" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EditComponentResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="EditComponentResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateStock">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="componentId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="updateType" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="quantity" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateStockResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdateStockResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FulfilOrder">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="orderId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FulfilOrderResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="FulfilOrderResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RejectOrder">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="orderId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="reason" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RejectOrderResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="RejectOrderResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="VerifyBuildCompatibility">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="desktopBaseId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="ram" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="cpu" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="storage" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="graphics" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="VerifyBuildCompatibilityResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q21="http://schemas.datacontract.org/2004/07/WCF_Service_Server_" minOccurs="0" name="VerifyBuildCompatibilityResult" nillable="true" type="q21:CompatibilityClass" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteUser">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="activeId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteUserResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeleteUserResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteComponent">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="compId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteComponentResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeleteComponentResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SendMail">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="receiverEmail" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="subject" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="body" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SendMailResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SendMailResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveOrder">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="cartId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="userAddressId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="userId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveOrderResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SaveOrderResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CheckoutOrder">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="orderId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="cardId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="paymentId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="userAddressId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="totalPrice" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="totalItems" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="paymentMade" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="orderStatus" nillable="true" type="xs:string" />
        <xs:element xmlns:q22="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="listOfCartItemId" nillable="true" type="q22:ArrayOfint" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CheckoutOrderResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CheckoutOrderResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="StoreUserAddress">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="country" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="province" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="city" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="streetUnit" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="surname" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="cellPhone" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="email" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="StoreUserAddressResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="StoreUserAddressResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateComponent">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="priceToDisp" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="availability" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="description" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="image" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="category" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="compatibilityStatus" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateComponentResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CreateComponentResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateBuild">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="user_id" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="desktop_id" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="cpu_id" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="storage_id" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="graphics_id" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="ram_id" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="compatibilityStatus" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="totalPrice" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateBuildResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CreateBuildResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FetchActiveUser">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FetchActiveUserResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q23="http://schemas.datacontract.org/2004/07/WCF_Service_Server_" minOccurs="0" name="FetchActiveUserResult" nillable="true" type="q23:User" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FetchComponent">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="component_id" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FetchComponentResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q24="http://schemas.datacontract.org/2004/07/WCF_Service_Server_" minOccurs="0" name="FetchComponentResult" nillable="true" type="q24:Component" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FetchSingleUserBuild">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="user_id" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FetchSingleUserBuildResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q25="http://schemas.datacontract.org/2004/07/WCF_Service_Server_" minOccurs="0" name="FetchSingleUserBuildResult" nillable="true" type="q25:ArrayOfComponent" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FetchRandomComponents">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="size" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FetchRandomComponentsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q26="http://schemas.datacontract.org/2004/07/WCF_Service_Server_" minOccurs="0" name="FetchRandomComponentsResult" nillable="true" type="q26:ArrayOfComponent" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FetchTopComponents">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="category" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="size" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FetchTopComponentsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q27="http://schemas.datacontract.org/2004/07/WCF_Service_Server_" minOccurs="0" name="FetchTopComponentsResult" nillable="true" type="q27:ArrayOfComponent" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FetchComponentsByCategory">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="category" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FetchComponentsByCategoryResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q28="http://schemas.datacontract.org/2004/07/WCF_Service_Server_" minOccurs="0" name="FetchComponentsByCategoryResult" nillable="true" type="q28:ArrayOfComponent" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FetchBuild">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="build_id" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FetchBuildResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q29="http://schemas.datacontract.org/2004/07/WCF_Service_Server_" minOccurs="0" name="FetchBuildResult" nillable="true" type="q29:ArrayOfComponent" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FetchAllUserBuilds">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="user_id" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FetchAllUserBuildsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q30="http://schemas.datacontract.org/2004/07/WCF_Service_Server_" minOccurs="0" name="FetchAllUserBuildsResult" nillable="true" type="q30:ArrayOfBuildClass" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FetchUserAddress">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FetchUserAddressResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q31="http://schemas.datacontract.org/2004/07/WCF_Service_Server_" minOccurs="0" name="FetchUserAddressResult" nillable="true" type="q31:DeliveryAddress" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FetchOrder">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="orderId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="cardNumber" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FetchOrderResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q32="http://schemas.datacontract.org/2004/07/WCF_Service_Server_" minOccurs="0" name="FetchOrderResult" nillable="true" type="q32:OrderClass" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FetchAllUserOrders">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FetchAllUserOrdersResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q33="http://schemas.datacontract.org/2004/07/WCF_Service_Server_" minOccurs="0" name="FetchAllUserOrdersResult" nillable="true" type="q33:ArrayOfOrder" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FetchSingleComponentByImage">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="image" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FetchSingleComponentByImageResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q34="http://schemas.datacontract.org/2004/07/WCF_Service_Server_" minOccurs="0" name="FetchSingleComponentByImageResult" nillable="true" type="q34:ArrayOfComponent" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FetchAllOrders">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="filter" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FetchAllOrdersResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q35="http://schemas.datacontract.org/2004/07/WCF_Service_Server_" minOccurs="0" name="FetchAllOrdersResult" nillable="true" type="q35:ArrayOfOrder" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FetchOrderById">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="orderId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FetchOrderByIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q36="http://schemas.datacontract.org/2004/07/WCF_Service_Server_" minOccurs="0" name="FetchOrderByIdResult" nillable="true" type="q36:Order" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>